<span class="bg-success"><%=flash[:success]%></span>
<h1><%= "Good #{@agent.greeting}, #{@agent.name}"%></h1>
  <% if @agent.apartments %>

    <% @agent.apartments.each do |apt| %>
    <!-- <a href= class=""> -->
    <%= link_to apt do %>
      <div class="card text-white bg-info mb-3 layout" style="max-width: 18rem;">
        <div class="card-header layout-center-text header-text"><%= apt.building.name%></div>
          <hr>
          <div class="card-body">
          <h5 class="card-title layout-center-text"><%= apt.info %></h5>
          <hr>
          <p class="card-text layout-center-text">Nice 2 bedrooms apts.    Must see!</p>
        </div>
      </div>
      <% end %>
    <!-- </a> -->

    <% end %>
  <% else %>
    <h2>You do not have any apartments yet. Please assign apartment to yourself.</h2>
  <% end %>
