<%=flash[:success] %>

<h1><%= "#{@building.name}" %></h1>
<h3><%= "#{@building.address}" %></h3>

<% @apartments.each do |apartment| %>
    <%= link_to apartment.name, apartment %><br>
<% end %>
<button type="button" name="button">
  <%= link_to "Edit", edit_building_path(@building) %>
  <%= link_to "Back", buildings_path %>
</button><br>

<button type="button" name="button">
  <%= link_to "Delete", @building, :method => :delete, :confirm => "Are you sure ?" %>
</button>
