<div class="body_div">
  <h1>Lease for <%= @lease.tenant_name %></h1>
  <%= @lease.start_date.strftime("Start %m/%d/%y") %><br>
  <%= @lease.exp_date.strftime("Ends %m/%d/%y") %><br>
  <%= @lease.apartment.info %>
  <hr>
  <%= link_to "Edit Lease", edit_lease_path(@lease), class:"btn btn-primary", method: :get %>
  <%= link_to "Delete Lease", "/leases/#{@lease.id}", class:"btn btn-danger", method: :delete %>
</div>
