<h1>Apartments</h1>
<%= form_tag(apartments_path, method: :get) do %>
  <%= collection_select :search, @attr %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<ul>
  <% @apartments.each do |apartment| %>
    <li><%= link_to apartment.info, apartment %></li>
  <% end %>
</ul>

<%= link_to 'New Apartment', new_apartment_path %>
