<!DOCTYPE html>
<html>
  <head>
    <title>REManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <hr>
    <%= link_to "Leases", leases_path %>
    <%= link_to "Buildings", buildings_path %>
    <%= link_to "Apartments", apartments_path %>
  </body>
</html>
